/* Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
   The following software licensing rules apply:
   http://www.w3.org/Consortium/Legal/copyright-software */

/* $Id: mainindex.css,v 1.9 2012/01/17 18:46:14 bbos Exp $ */

/* Common sub- Style sheet for  email archives 
**
** used by *-mainindex.css 
** Example page: 
**   http://lists.w3.org/Archives/Public/www-talk/
**
*/


/* General chat at the top needs some white space */

/* p { margin: 0.5em 1em 0.5em 3em ; text-indent: 1em  } */
p { margin-top: 0.5em; margin-bottom: 1em; }

/* Table head -- should be w3c blue */
thead tr  { color: #FFFFFF; background-color: rgb(0,90,156) }

/* tbody tr  { font-family: sans-serif ; font-size: 80%} */
tbody tr  { font-family: sans-serif ; }

.head img {float:left;}
.head p {clear: left;}
th {font-style:italic;}
map ul { list-style:none;}
map#navbar { background-color:#ddd;}
/* table { margin-left:2em;}*/

a.sub:link { color:green }
a.unsub:link {color : red }

.header .important {border: thin solid; padding: 0.5em 1em}
