/* Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
   The following software licensing rules apply:
   http://www.w3.org/Consortium/Legal/copyright-software */

/* adapted from: */
/* $Id: public-message.css,v 1.23 2015/01/06 20:28:42 ylafon Exp $ */
/* W3C Message Archive - public message */


/* much of this is obsolete and can go away */


body {
  font-family: sans-serif;
  color: black;
  line-height: 1.2em;
}

a:link, a:active {
  color: #00e;
  background: transparent;
}

a:visited {
  color: #529;
  background: transparent;
}

div.intro {
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic
}

a:link img, a:visited img {
   border-style: none
}

ul.toc, ol.toc {
  list-style: disc;
  list-style: none;
}

div.issue {
  padding: 0.5em;
  border: none;
  margin-right: 5%;
}

@media print {

  table {
    page-break-inside: avoid
  }

}


/* want to be able to identify the author and style it
** but can't
*/

.mail, .head { border-bottom:1px solid black;}
map ul {list-style:none;}
#message-id { font-size: small;}
address { font-style:inherit ;}

@media print {
 #upper, #navbarfoot, #navbar {
  display:none;
}
}

/* for edited messages */
div.edit {
 background: #CCFF99;
 padding: 0.25em 2em 0.25em 1em;
 margin-top: 0.25em;
}
p.editmes{
 font-style: italic;
 font-size: small;
 padding: 0;
}
p.editfooter{
 font-size: small;
 padding: 0;
}

/* for deleted messages */
div.spam {
 background: #aaffaa;
 padding: 1em 2em;
}
p.spammes{
 font-size: x-large;
 font-weight: bold;
}
p.spamfooter{
 font-size: small;
}

div#body {
    display: block;
    unicode-bidi: embed;
    background: white;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div#body a {
    margin: 0;
    padding: 0;
    display: inline;
}

div.message {
    word-wrap: break-word;
}

h1 {
    margin-top: 0;
    font-size: 150%;
    text-shadow: .05em 0 .05em #808080;
    font-style: italic;
    font-family: serif;
}

a:hover {
    text-decoration: underline !important;
}

body { background: #eee; }


/* ************************************* */
/* temporary stuff for debugging follows */
/* ************************************* */


/* uncomment to test scrolling

body {
  min-height: 2000px;
}

/*


/* uncomment the following to see which divs are where

div.col-md-8 {
    background: #f7f0f0;
}

div.col-md-4 {
    background: #f0f7f0;
}

div.container {
    background: #f0f0f7;
}

body {
    background: #fafafa;
}

*/

/**
 * Styles for the fixed-positioned header
 */

nav#gutter-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 53px;
  margin-bottom: 17px;
  background-color: #2975ac;
  border: none;
  font-size: larger;
  color: #e0e0e0;
}

nav#gutter-top > .container-fluid {
  padding-left: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
  color: #ffffff;
}

.navbar-default .navbar-nav li:first-child a {
  padding: 0;
}

div#main {
  margin-top: 71px;
}

/*
 * Styles for the Markdown formatting feature
 * and for the collapsible thread feature
 */

form#options {
  display: none;
  float: right;
  width: 33.3%;
}

form#options.active {
  display: block;
}

form#options label {
  font-weight: normal;
}

form#options img {
  height: 1em;
}

div#body:not(.rich) {
  font-family: monospace;
  white-space: pre;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div#body pre {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  line-height: inherit;
  background-color: inherit;
}

div#body code {
  background-color: inherit;
}

div#body blockquote {
  font-style: italic;
  font-size: inherit;
}

/**
 * Styles for gravatars
 */

#gravatar {
  visibility: hidden;
  float: right;
  box-shadow: 0 4px 4px black;
}

#gravatar.active {
  visibility: visible;
}

/**
 * Styles to improve the message headers
 */

.headers .key {
  font-weight: bold;
}

.headers .value {
  color: #606060;
}

.headers .name {
  color: #000000;
}

.headers code {
  font-size: 1em;
  padding-left: 0;
  background-color: transparent;
  color: #606060;
}

#gutter {
  text-align: center;
  text-decoration: none;
  color: #000000;
}

#gutter a:hover #glyph {
  background-color: #f8f8f8;
}

.headers .hidden {
  visibility: hidden;
}

/**
 * Styles for the SPA approach
 */

.inactive {
  opacity: .667;
  filter: blur(.1em);
  -moz-filter: blur(.1em);
  -webkit-filter: blur(.1em);
  -o-filter: blur(.1em);
  -ms-filter: blur(.1em);
}

#spinner {
  display: none;
}
