/* source: http://jsfiddle.net/Fh47n/ http://stackoverflow.com/a/15480307 */

.thread li {
    margin: 0;
    margin-left: -15px;
    list-style-type: none;
    position: relative;
    padding: 3px 5px 0px 0px;
}

.thread li::before{
    content: '';
    position: absolute; 
    top: 0;
    width: 1px; 
    height: 100%;
    right: auto; 
    left: -20px;
    border-left: 1px solid #ccc;
    bottom: 50px;
}
.thread li::after{
    content: '';
    position: absolute; 
    top: 15px; 
    width: 20px; 
    height: 20px;
    right: auto; 
    left: -20px;
    border-top: 1px solid #ccc;
}
.thread li a{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-family: arial, verdana, tahoma;
    font-size: 0.9em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/*Remove connectors before root*/
.thread > ul > li::before, .thread > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.thread li:last-child::before{ 
    height: 15px;
}

.thread li a.current {
    background: #fcfcfc;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.thread li a:hover, .thread li a:hover+ul li a {
    background: #ddd; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.thread li a:hover+ul li::after, 
.thread li a:hover+ul li::before, 
.thread li a:hover+ul::before, 
.thread li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

